<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-my-qiita</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>6D6ABC40-4213-48AE-A029-93B3AAACC90A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7E268FC-398D-43A6-B826-8E9606E3C932</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ryoKawamata</string>
	<key>description</key>
	<string>Alfred Workflow to search for your own Qiita posts.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-my-qiita</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.qiita</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search your posts</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D6ABC40-4213-48AE-A029-93B3AAACC90A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D7E268FC-398D-43A6-B826-8E9606E3C932</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search for your Qiita posts.</string>
	<key>uidata</key>
	<dict>
		<key>6D6ABC40-4213-48AE-A029-93B3AAACC90A</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>D7E268FC-398D-43A6-B826-8E9606E3C932</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>API_TOKEN</key>
		<string>32ceea3c4b4425391f8c9c9550a6d6925982bf56</string>
		<key>USER_NAME</key>
		<string>ryo2132</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>API_TOKEN</string>
		<string>USER_NAME</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/kawamataryo/alfred-my-qiita-post</string>
</dict>
</plist>
