<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gif-optimizer</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>ryoKawamata</string>
	<key>description</key>
	<string>Alfred Workflow to search for your own Qiita posts.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-my-qiita-posts</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string>optimized animation gif</string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
